<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
	<link href="/resources/css/style4.css" rel="stylesheet">
	<title>Domiciliation</title>

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">


		<img src="/resources/img/logo.png" width="100" height="100" class="d-inline-block align-top" alt="">


		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="index">Acceuil <span class="sr-only"><span></a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="propos">A Propos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="emplacement">Emplacements</a>
				</li>
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Nos Services
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="Domiciliation">Domicilation</a>
						<a class="dropdown-item" href="Cowork">Coworking</a>
					</div>
				</div>

			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
			<li class="nav-item">
				<a class="nav-link" href="connexion" style="color:white">Connexion</a>
			</li>
			<img src="/resources/img/icon contact.png" width="30" height="30" class="d-inline-block align-top" alt="">


		</div>
	</nav>


	<div class="div1">

	<img class="img1" src=/resources/img/coworking.jpg />
	<br />
	<div class="text">
	DOMICILATION
	</div>
		</div>

	<br />
	La domicilation vous permet de disposer immédiatement <br />
	d'un siège social pour votre entreprise, ainsi que de divers <br />
	services de base, au prix attractif de 50DT htva par mois, <br />
	soit 600DT htva/an. Sont comprises dans ce service les <br />
	prestatuions de base suivantes :
	<table>
		<tr>
			<td>
				<div id='num'>1. </div>
			</td>
			<td> <br /> La disposition d'une adresse légale,fiscale, <br /> administrative,postale et commerciale.
				<br /> dans un espace commun et ouvert. <br /> </td>
		</tr>
		<tr>
			<td>
				<div id='num'>2. </div>
			</td>
			<td> <br /> La réception et l'accueil de vos clients avec prise et mise à <br /> votre disposition des
				messages. <br /> </td>
		</tr>
		<tr>
			<td>
				<div id='num'>3. </div>
			</td>
			<td> <br /> La réception et la mise à votre disposition du courrier <br /> normal et des colis.</td>
		</tr>
		<tr>
			<td>
				<div id='num'>4. </div>
			</td>
			<td> <br /> La réception et la mise à votre disposition du courrier <br /> recommandé.</td>
		</tr>
		<tr>
			<td>
				<div id='num'>5. </div>
			</td>
			<td> <br /> La réception des appels téléphonique qui vous sont <br /> destinés sur notre numéro de téléphone
				fixe avec prise <br /> et mise à disposition des messages laissés. </td>
		</tr>
		<tr>
			<td>
				<div id='num'>6. </div>
			</td>
			<td> <br /> L'accès à un espace ouvert de travail en coworking, à <br /> raise de 4 heures par mois (non
				cumulable). </td>
		</tr>
		<tr>
			<td>
				<div id='num'>7. </div>
			</td>
			<td> <br /> L'accès sur rendez-vous, à un espace privatif équipé, <br /> à raison de 1 heure par mois (non
				cumulable). </td>
		</tr>
		<tr>
			<td>
				<div id='num'>8. </div>
			</td>
			<td> <br /> La possibilité de bénéficier, à la carte (facturation en sus), <br /> des services associés.
			</td>
		</tr>
	</table>


	<p class="positioned">
	<h4 id="bloc"> LA DOMICIALISATION <br /> DE VOTRE ENTREPRISE <br /> A
		50DT/MOIS
	</h4>
	</p>
	<br />
	<hr />
	<br />
	LOCATION DE BUREAUX <br />
	En fonction de vos besoins, vous pouvez disposer d'un <br />
	bureau privé équipé ou d'une salle de réunion :

	<h4 id="bloc">
		<br />
		à l'heure 10 DT htva <br />
		à la journée 50 DT htva <br />
		à la semaine 200 DT htva <br />
		ou au mois 600 DT htva <br />
		<br />
	</h4>
	<form>
		<ul style="list-style-type: none;">
			<li><a th:href="@{Domicilation/ajouterDomicilation}"><input type="button"
						style="background-color:yellow ; color:white;   padding: 15px 100px;border: none;"
						value="Domicilier"><a /></li><br>
			<li><a th:href="@{'Domicilation/modifierDomicilation/'+${Domicilation.ref_domicilation}}"><input
						type="button" style="background-color:rgb(128, 128, 128) ; color:rgb(255, 255, 0);   padding: 15px 100px;border: none;"
						value="Modifier Domicilition"><a /></li><br>

			<li><a th:href="@{'Domicilation/supprimerDomicilation/'+${Domicilation.ref_domicilation}}"><input
						type="button" style="background-color:yellow ; color:white;   padding: 15px 100px;border: none;"
						value="Annuler Domicilition"><a /></li><br>


		</ul>
	</form>

	<!-- Footer -->
	<footer style="background-color: rgb(58, 53, 53);width: 100%;" class="w3-row-padding w3-padding-32">
		<div style="color: white;" class="w3-third">
			<h3>About Company</h3>
			<img src="/resources/img/logo.png" class="w3-left w3-margin-right" style="width:100px">

		</div>

		<div style="color: white;" class="w3-third">
			<h3>Informations</h3>
			<ul type="circle" class="w3-ul w3-hoverable">
				<li class="w3-padding-16">

					<span class="w3-large"><a class="dropdown-item" href="propos"></a>A Propos</span><br>
				</li>
				<li class="w3-padding-16">

					<span class="w3-large"><a class="dropdown-item" href="Domicilation"></a>Domiciliation</span><br>
				</li>
				<li>
					<span class="w3-large"><a class="dropdown-item" href="Cowork"></a>Coworking</span><br>

				</li>
				<li>
					<span class="w3-large"><a class="dropdown-item" href="connexion"></a>Connexion</span><br>

				</li>
			</ul>
		</div>

		<div style="color: white;" class="w3-third w3-serif">
			<h3>Nos Cordonnées</h3>
			<ul style="list-style-type: none;">
				<li><img src="/resources/img/phone icon.png" style="width:30px ;background-color: white;" /></li><br>
				<li><img src="/resources/img/mail.png" style="width:30px ;background-color: white;" /></li><br>
				<li><img src="/resources/img/lieu.png" style="width:30px ; background-color: white;" /></li><br>


				<li><img src="/resources/img/socialmedia.png" style="width:50px ;background-color: white;" /></li><br>


			</ul>
		</div>
	</footer>
	<!-- End page content -->
	<///div>

	<script>
		// Script to open and close sidebar
		function w3_open() {
			document.getElementById("mySidebar").style.display = "block";
		}

		function w3_close() {
			document.getElementById("mySidebar").style.display = "none";
		}
	</script>
</body>

</html>